<template>
    <div id="app">

        <div v-if="networkState !== null || (networkState === null && wasEverConnected)">
            <street v-if="page == 'street'" />
            <lobby v-if="page == 'lobby'"/>
            <game v-if="page == 'game'" />
        </div>

        <div v-if="networkState === null && !wasEverConnected">
            <h3>Connecting...</h3>
        </div>

        <connection-indicator />
    </div>
</template>

<script>
    import server from './mockserver'
    import { mapState, mapGetters } from 'vuex'
    import createKeyboardHandlers from '~/keyboard'
    import Street from './Street'
    import Lobby from './Lobby'
    import Game from './Game'
    export default {
        name: 'App',
        components: {
            Street,
            Lobby,
            Game
        },
        data() {
            return {}
        },
        computed: {
            ...mapState(['page', 'networkState', 'wasEverConnected']),
            ...mapGetters(['isMyTurn'])
        },
        mounted() {
            // this.$store.dispatch('mockSetup')
            this.$store.commit('activatePlayer', this.$store.state.playerId)
        },
        updated() {
            // createKeyboardHandlers(this.$store)
        },
        methods: {
            endTurn() {
                // TODO: send message to server indicating that I have voluntarily ended my turn
                this.$store.dispatch('endTurn')
            },
        }
    }
</script>

<style lang="scss">
#app {
    margin: 10px;
    
    .end-turn-button {
        $color: #444;
        $bg-color: white;

        background-color: $bg-color;
        border: 1px solid $color;
        color: $color;
        padding: 7px 12px;
        border-radius: 3px;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: $color;
            color: $bg-color;
        }
    }
}
</style>