<template>
    <div id="page-game">
        <grid :width="8" :height="6" :dim="50" />
        <button @click="onQuitClick">Quit</button>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { stopHosting, leaveRoom } from './client'
    export default {
        computed: {
            ...mapGetters(['amHost'])
        },
        methods: {
            onQuitClick() {
                if (this.amHost) {
                    stopHosting()
                } else {
                    leaveRoom()
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>