<template>
    <div id="page-lobby">
        <div id="lobby-hosting" v-if="joinState == 'hosting'">
            <h3>Hosting {{ roomData.name }}</h3>
            <button @click="onStopHostingClick">Stop Hosting</button>
            <button @click="onStartGameClick">Start Game</button>
        </div>
        <div id="lobby-joined" v-if="joinState == 'joined'">
            <h3>Joined {{ roomData.name }}</h3>
        </div>
        <div id="player-list">
            <li v-for="player in roomData.players" :key="player.playerId">
                {{ player.playerId }}
            </li>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import { stopHosting, startGame } from './client'
    export default {
        computed: {
            ...mapState(['joinState', 'roomData'])
        },
        methods: {
            onStopHostingClick() {
                stopHosting()
            },
            onStartGameClick() {
                startGame()
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>