<template>
    <div id="page-street">
        <button @click="onHostClick" :class="{selected: hostFormOpen}">Host</button>
        <button @click="onJoinClick" :class="{selected: joinFormOpen}">Join</button>

        <div id="host-form" class="section" v-if="hostFormOpen">
            <label>Room Name</label>
            <input type="text" v-model="newRoomName" />
            <button @click="onCreateClick">Create</button>
            <div id="host-form-errors" v-if="hostError !== null">
                <span>{{ hostError }}</span>
            </div>
        </div>

        <div id="join-form" class="section" v-if="joinFormOpen">
            <h3>Rooms</h3>
            <ul>
                <li v-for="room in roomList" :key="room.name">
                    <a class="room-link" :class="{started: room.state == 'playing'}" @click="onRoomClick(room.name)">{{ room.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import { createRoom, getRooms, joinRoom } from './client'
    export default {
        data() {
            return {
                hostFormOpen: false,
                joinFormOpen: true,
                newRoomName: '',
                hostError: null,
                joinError: null
            }
        },
        computed: {
            ...mapState(['roomList'])
        },
        mounted() {
            getRooms()
            .then(({data}) => {
                console.log('received room list:', data)
                this.$store.commit('setRoomList', data)
            })
        },
        methods: {
            onHostClick() {
                this.hostFormOpen = true
                this.joinFormOpen = false
            },
            onJoinClick() {
                this.joinFormOpen = true
                this.hostFormOpen = false

                getRooms()
                .then(({data}) => {
                    console.log('received room list:', data)
                })
            },
            onCreateClick() {
                createRoom(this.newRoomName)
                .then(roomData => {
                    console.log(`room ${this.newRoomName} has been created`)
                    this.$store.dispatch('hostRoom', roomData)
                    this.newRoomName = ''
                })
                .catch(error => {
                    if (error == 'roomTaken') {
                        this.hostError = `room name ${this.newRoomName} is taken`
                    }
                })
            },
            onRoomClick(roomName) {
                joinRoom(roomName)
            }
        }
    }
</script>

<style lang="scss" scoped>
a.room-link {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &.started {
        color: #aaa;
        cursor: default;

        &:hover {
            text-decoration: none;
        }
    }
}
</style>