body {
    margin: 0;
}

.section {
    padding-top: 15px;
    padding-bottom: 15px;
}

button {
    border: 1px solid #444;
    background: white;
    color: #444;
    padding: 7px 15px;
    cursor: pointer;
    transition: all .2s;

    &:hover,
    &.selected {
        background: #444;
        color: white;
    }

    &:focus {
        outline: none;
    }
}