<template>
    <div id="connection-indicator-container">
        <div id="trying-to-reconnect" v-if="networkState === null && wasEverConnected">Trying to reconnect...</div>
        <div id="connection-indicator" :class="indicatorClass"></div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        computed: {
            ...mapState(['networkState', 'wasEverConnected']),
            indicatorClass() {
                return {
                    connected: this.$store.state.networkState !== null
                }
            }
        }
    }
</script>

<style lang="scss">
#connection-indicator-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;

    #trying-to-reconnect {
        margin-right: 10px;
    }

    #connection-indicator {
        width: 15px;
        height: 15px;
        display: block;
        border-radius: 50%;
        background-color: red;

        &.connected {
            background-color: green;
        }
    }
}
</style>