<template>
    <div class="grid" :style="gridStyle">
        <template v-for="y in height">
            <template v-for="x in width">
                <grid-square :key="`${x-1}.${y-1}`" :style="gridSquareStyle" :position="vectorFrom(x-1, y-1)" />
            </template>
        </template>
        <template v-for="player in players">
            <template v-for="program in player.programs">
                <program :owner="program.owner" :key="program.id" :color="program.color" :dim="dim" :grid-width="width" :grid-height="height" :start-x="0" :start-y="0" :stats="{
                    movementSpeed: program.movementSpeed,
                    maxSize: program.maxSize
                }" />
            </template>
        </template>
        <!-- <program :owner="playerId" color="blue" :dim="dim" :grid-width="width" :grid-height="height" :start-x="5" :start-y="5" :stats="{
            movementSpeed: 2,
            maxSize: 4
        }" />
        <Program owner="other" color="red" :dim="dim" :grid-width="width" :grid-height="height" :start-x="0" :start-y="0" :stats="{
            movementSpeed: 4,
            maxSize: 2
        }" /> -->
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import Vector from '~/classes/Vector'
    export default {
        name: 'Grid',
        props: {
            height: Number,
            width: Number,
            dim: Number
        },
        data() {
            return {
                
            }
        },
        computed: {
            ...mapState(['playerId', 'players']),
            gridStyle() {
                return {
                    width: this.dim * this.width + "px",
                    height: this.dim * this.height + "px"
                }
            },
            gridSquareStyle() {
                return {
                    width: this.dim + "px",
                    height: this.dim + "px"
                }
            }
        },
        methods: {
            vectorFrom(x, y) {
                return new Vector(x, y)
            }
        }
    }
</script>

<style lang="scss" scoped>
.grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
</style>