<template>
    <div class="grid-square" @click="deactivateAll">
        <move-indicator :position="position" v-if="hasMoveIndicator" />
    </div>
</template>

<script>
    export default {
        props: {
            position: Object
        },
        computed: {
            activeProgram() {
                return this.$store.state.activeProgram
            },
            distanceToActiveProgram() {
                if (this.activeProgram === null) {
                    return Infinity
                } else {
                    return this.position.distanceTo(this.activeProgram.position)
                }
            },
            hasMoveIndicator() {
                if (this.activeProgram === null) {
                    return false
                } else {
                    return this.position.doesNotEqual(this.activeProgram.position) && this.distanceToActiveProgram <= this.$store.state.activeProgram.movesRemaining
                }
            },
            containsActiveProgram() {
                return this.position.equals(this.activeProgram.position)
            }
        },
        methods: {
            /**
             * deactivateAll causes deactivates any
             * active programs
             */
            deactivateAll() {
                this.$store.commit('setActiveProgram', null)
            }
        }
    }
</script>

<style lang="scss" scoped>
.grid-square {
    box-sizing: border-box;
    border: 1px solid gray;
}
</style>