<template>
    <div class="move-indicator">
        <span class="circle" :class="circleClass" @click.stop="moveActiveProgramHere"></span>
    </div>
</template>

<script>
    export default {
        props: {
            position: Object
        },
        computed: {
            activeProgram() {
                return this.$store.state.activeProgram
            },
            activeProgramCanMoveHere() {
                return this.activeProgram.position.distanceTo(this.position) == 1
            },
            circleClass() {
                return {
                    clickable: this.activeProgramCanMoveHere
                }
            }
        },
        methods: {
            moveActiveProgramHere() {
                if (this.activeProgramCanMoveHere) {
                    this.activeProgram.moveTo(this.position)
                }
            }
        }
    }
</script>

<style lang="scss">
.move-indicator {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle {
        border-radius: 50%;
        background-color: red;
        width: 10px;
        height: 10px;

        &.clickable {
            background-color: blue;
            cursor: pointer;
        }
    }
}
</style>