<template>
    <div class="program" :class="programClass" :style="programStyle" @click="activateMe"></div>
</template>

<script>
    import nanoid from 'nanoid'
    import { mapGetters } from 'vuex'
    import { NoMovesRemainingException } from '~/classes/Exceptions'
    import MoveResult from '~/classes/MoveResult'
    import Vector from '~/classes/Vector'
    export default {
        name: 'Program',
        props: {
            // Networking
            owner: String,

            // Visuals
            color: String,
            dim: Number,
            gridWidth: Number,
            gridHeight: Number,
            startX: {
                type: Number,
                default: 0
            },
            startY: {
                type: Number,
                default: 0
            },

            // Gameplay
            stats: {
                type: Object,
                default: {
                    movementSpeed: 1,
                    maxSize: 2
                }
            }
        },
        data() {
            return {
                uniqid: nanoid(),
                position: new Vector(this.startX, this.startY),
                movementSpeed: this.stats.movementSpeed,
                movesRemaining: this.stats.movementSpeed
            }
        },
        computed: {
            ...mapGetters(['isMyTurn']),
            programStyle() {
                return {
                    'background-color': this.color,
                    width: this.dim + "px",
                    height: this.dim + "px",
                    top: this.position.y * this.dim + "px",
                    left: this.position.x * this.dim + "px"
                }
            },
            programClass() {
                return {
                    active: this.$store.state.activeProgram == this
                }
            },
            belongsToMe() {
                return this.owner == this.$store.state.playerId
            }
        },
        methods: {
            /**
             * activateMe causes this program to become the
             * active program
             */
            activateMe() {
                if (this.belongsToMe && this.isMyTurn) {
                    this.$store.commit('activateProgram', this)
                }
            },
            /**
             * moveTo accepts either a single Vector(x,y) object, 
             * or two x y coordinates as separate arguments.
             * (see getVectorFromArguments)
             */
            moveTo() {
                let newPosition = this.getVectorFromArguments(arguments)
                let distanceToNewPosition = this.position.distanceTo(newPosition)
                
                if (distanceToNewPosition > this.movesRemaining) {
                    throw new NoMovesRemainingException("The program does not have enough moves remaining.", {
                        attemptedDistance: distanceToNewPosition,
                        movesRemaining: this.movesRemaining,
                        program: this
                    })
                }

                let originalPosition = this.position
                this.position = newPosition.minmax(new Vector(0, 0), new Vector(this.gridWidth - 1, this.gridHeight - 1))

                let didMove = this.position.doesNotEqual(originalPosition)
                if (didMove) {
                    this.movesRemaining -= distanceToNewPosition
                }
                return new MoveResult({
                    distanceMoved: distanceToNewPosition,
                    movesRemaining: this.movesRemaining,
                    originalPosition: originalPosition,
                    newPosition: newPosition
                })
            },

            /**
             * moveTo accepts either a single Vector(x,y) object, 
             * or two x y coordinates as separate arguments.
             * (see getVectorFromArguments)
             */
            moveRelative() {
                let moveVector = this.getVectorFromArguments(arguments)
                let newPosition = this.position.add(moveVector)

                return this.moveTo(newPosition)
            },
            
            /**
             * moveDirection accepts a direction string, which
             * may be 'left', 'right', 'up', or 'down'
             */
            moveDirection(direction) {
                let dirMap = {
                    'left': new Vector(-1, 0),
                    'right': new Vector(1, 0),
                    'up': new Vector(0, -1),
                    'down': new Vector(0, 1)
                };

                if (!(direction in dirMap)) {
                    return;
                }

                return this.moveRelative(dirMap[direction])
            },

            /**
             * getVectorFromArguments accepts the arguments variable
             * from another function, and returns a vector arguments
             * regardless of whether the originally provided arguments
             * were one vector object or the x and y coordinates
             * separately
             */
            getVectorFromArguments(args) {
                if (args.length == 2) {
                    return new Vector(args[0], args[1])
                } else {
                    return args[0]
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
.program {
    position: absolute;
    box-sizing: border-box;

    &.active {
        border: 2px solid yellow;
    }
}
</style>